.dashboard {
  padding: 30px;
}

.cards {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.card {
  background: #1e1e2f;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 220px;
}

.card h3 {
  margin-bottom: 10px;
}

.online {
  color: #00ff99;
  font-weight: bold;
}

.btn {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}
